.Characters{
    display: flex;
    flex-direction: column;
    min-height: 88vh
}
.CharactersList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}
.CharactersList::after{
    content: "";
    width: 600px;
}
.CharacterItem{
    display: flex;
    width: 600px;
    height: 220px;
    border-radius: 0.5rem;
    margin-bottom: 20px;
    background-color: #828385;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    overflow: hidden;
    cursor: pointer;
}
.CharacterItemDescription{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin: auto 0;
}
.CharacterItemTitle{
    margin: 0;
    font-size: auto;
    color: #fff;    
}
.StatusText{
    font-size: 18px;
    color: #fff;
}
.CharacterItemStatusText{
    font-size: 18px;
    color: #fff;
}
.CharacterStatusIcon{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
}
.StatusDead{
    background-color: red;
}
.StatusAlive{
    background-color: green;
}
.StatusUnknown{
    background-color: #dddddd
}
.CharacterItemLabel{
    margin: 20px 0 0 0;
    color: #363636;
    font-size: 16px;
}
.CharacterItemText{
    margin: 0;
    color: #fff;
    font-size: 18px;
}
.CharacterPagination{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: auto;
    margin-bottom: 0;
}
.CharacterMessage{
    display: block;
    width: 100%;
    margin: 100px auto;
    text-align: center; 
    color: #ffb300 
}
